/api/app/tmp/*
/frontend/app/tmp/*
/static/app/tmp/*
/letsencrypt/certs/*
/letsencrypt/dhparam/*
/letsencrypt/html/*
/letsencrypt/vhost/*


!/api/app/tmp/.gitkeep
!/frontend/app/tmp/.gitkeep
!/static/app/tmp/.gitkeep
!/letsencrypt/certs/.gitkeep
!/letsencrypt/dhparam/.gitkeep
!/letsencrypt/html/.gitkeep
!/letsencrypt/vhost/.gitkeep

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
